@import url(//db.onlinewebfonts.com/c/d5bd523d9152e80458f764c62c5bb9df?family=Larsseit);
*,html,#root{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



body {
  font-family: 'Larsseit', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

:root{
  --success-color:#611f69;
  --success-color-hover:rgba(97, 31, 105, .9);

  --main-bg-color: #fff;
  --main-color:#1d1d1d;
  --secondary-bg-color:#f4ede4;
  --secondary-color:#1d1d1d;
  --navbar-color:#3F0E40;
}

#root{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}


.btn{
  appearance: none;
  cursor: pointer;  
  padding:10px;
  font-size: 1rem;
  font-weight: bolder;
}

.btn.btn-primary{
  border:0;
  background-color: var(--success-color);
  color: #fff;
  transition: .5s ease;
  transition-property: background-color;
}

.btn.btn-primary:hover{
  background-color: var(--success-color-hover);
}

/* steps landingteam, landingchannel */

.step{
  padding:100px;
}

.step h2{
  font-size: 2.5rem;
  margin:20px 0;
}

.step input{
  display:block;
  width: 50%;
  padding: 10px 10px;
  margin: 20px 0;
}
